/.vs/CoreApp/v15/.suo
/.vs/CoreApp/v15/Server/sqlite3/db.lock
/.vs/CoreApp/v15/Server/sqlite3/storage.ide
/.vs/CoreApp/v15/Server/sqlite3/storage.ide-shm
/.vs/CoreApp/v15/Server/sqlite3/storage.ide-wal
